.otherBanner{
    margin-top: 83.33px;
    background-image: url("images/截圖\ 2025-07-29\ 下午12.23.06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    opacity: 0.6;
    display: flex;
    align-items: center;
}
.otherBannerContainer .otherBannerTitle{
    width: 100%;
    text-align: center;
}
.otherBannerContainer .otherBannerTitle h1{
    color: #fff;
    font-size: 46px;
    letter-spacing: 10px;
    margin: 0;
}
.otherBannerContainer .otherBannerTitle p{
    color: #fff;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -3px;
}
.otherBannerContainer .otherBannerTitle .clothEnglishTitle{
    letter-spacing: -2px;
}
.anton-regular{
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.rightnowText{
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;
    background-color: rgb(182, 182, 182);
    font-size: 16px;
    position: fixed;
    right: 50px;
    top: 83.33px;
    border: 3px dashed #fff;
    padding: 5px;
}
.mainProductContainer button,.otherBannerContainer .clothTopBtn{
    position: fixed;
    z-index: 11;
    bottom: 20px;
    right: 100px;
    border: 3px solid rgb(182, 182, 182);
    background-color: #fff;
    padding: 0;
}
.mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
    text-decoration: none;
    font-size: 26px;
    color: rgb(182, 182, 182);
    padding: 3px 10px;
}
.mainProductContainer button a:hover,.otherBannerContainer .clothTopBtn a:hover{
    background-color: rgb(182, 182, 182);
    color: #fff;
    display: block;
}
.mainProductContainer .mainContainer{
    margin-top: 50px;
}
.mainProductContainer .mainContainer .mainTitle h2{
    margin: 0;
}
.mainProductContainer .mainContainer .mainTitle p{
    margin: 0;
    color: rgb(1,121,202);
}
.mainProductContainer .mainContainer ul{
    list-style: none;
}
.mainProductContainer .mainContainer ul li{
    border-bottom: 1px solid rgb(182,182,182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.mainProductContainer .mainContainer ul li i{
    font-size: 12px;
}
.mainProductContainer .mainContainer ul li a{
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 14px;
    margin-right: 10px;
}
.mainProductContainer .mainContainer ul li a:hover{
    background-color: rgb(1, 121, 202);
    color: #fff;
}
.mainProductContainer .mainContainer ul .colorMain a{
    color: rgb(1, 121, 202);
}
.mainProductContainer .productContainer{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.mainProductContainer .bigProductImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainProductContainer .bigProductImg img{
    width: 90%;
}
.mainProductContainer .bigProductLowerbody60Img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainProductContainer .bigProductLowerbody60Img img{
    width: 60%;
}
.mainProductContainer .bigProductLowerbodyImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainProductContainer .bigProductLowerbodyImg img{
    width: 45%;
}
.clothSortImgContainer{
    padding-top: 30px;
}
.clothSortImgContainer img{
    width: 100%;
}
.mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
    width: 50%;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    font-weight: 900;
    color: rgb(182, 182, 182);
}
.clothSortImgContainer p{
    font-size: 22px;
}
.mainProductContainer .productContainer .product{
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.mainProductContainer .productContainer .product:hover{
    transform: scale(1.1);
}
.mainProductContainer .productContainer .product .imgContainer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainProductContainer .productContainer .product .imgContainer a{
    display: flex;
    justify-content: center;
}
.mainProductContainer .productContainer .product .imgContainer img{
    width: 100%;
    margin-bottom: 10px;
}
.mainProductContainer .productContainer .product .imgContainer .width40{
    width: 40%;
}
.mainProductContainer .productContainer .product .imgContainer .width45{
    width: 45%;
}
.mainProductContainer .productContainer .product .imgContainer .width50{
    width: 50%;
}
.mainProductContainer .productContainer .product .imgContainer .width60{
    width: 60%;
}
.mainProductContainer .productContainer .product .imgContainer .width62{
    width: 62%;
}
.mainProductContainer .productContainer .product .imgContainer .width70{
    width: 70%;
}
.mainProductContainer .productContainer .product .imgContainer .width80{
    width: 80%;
}
.mainProductContainer .productContainer .product .imgContainer .width90{
    width: 90%;
}
.mainProductContainer .productContainer .product .aText{
    padding: 0 14px;
    text-align: center;
}
.mainProductContainer .productContainer .product .aText a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.clothUl{
    margin: 520px 0px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
.clothUl li{
    padding: 8px 0px;
    /* margin-right: 40px; */
    background-color: rgb(182, 182, 182);
}
.clothUl li a{
    padding: 8px 56px;
    text-decoration: none;
    color: #000;
    letter-spacing: 4px;
}
.clothUl li a:hover{
    background-color: rgb(2, 121, 202);
    color: #fff;
}
.clothUl .rightNowColor{
    background-color: rgb(1, 121, 202);
    color: #fff;
}
.clothUl .rightNowColor a{
    color: #fff;
    width: 100%;
}
.clothSort{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    list-style: none;
    margin-top: 30px;
    overflow-x: hidden;
}
.clothSort li{
    margin-left: -1px;
    padding: 2px 0px;
    border: 1px solid rgb(2, 121, 202);
}
.clothSort li a{
    text-decoration: none;
    padding: 2px 10px;
    color: rgb(2, 121, 202);
}
.clothSort li a:hover{
    background-color: rgb(2, 121, 202);
    color: #fff;
}
.clothSort .rightNowColorColor{
    background-color: rgb(2, 121, 202);
    color: #fff;
}
.clothSort .rightNowColorColor a{
    color: #fff;
}
.rightNowClothTitle{
    overflow-x: hidden;
}
.rightNowClothTitle p{
    padding-left: 20px;
    font-size: 24px;
    font-weight: 900;
}
.rightNowClothTitle hr{
    border: 2px solid rgb(2, 121, 202);
}
.clothSortImgContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.clothSortImg50{
    padding: 10px;
    cursor: pointer;
}
.clothSortImg50:hover{
    transform: scale(1.05);
}
.clothSortImg50 img{
    width: 100%;
}
@media(max-width:1024px){
    .otherBanner{
        margin-top: 70px;
        height: 360px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 36px;
        letter-spacing: 8px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 22px;
        letter-spacing: -2px;
    }

    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 5px;
        font-size: 12px;
        right: 10px;
        top: 70px;
        border: 3px dashed #fff;
        padding: 4px;
    }
    .mainProductContainer{
        padding: 0 20px;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 3px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 22px;
        padding: 0px 10px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 40px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 10px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 2px;
        font-size: 14px;
        padding: 10px;
    }
    .mainProductContainer .productContainer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;

    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer{
        padding-bottom: 130px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        width: 30%;
        padding-top: 30px;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 10px;
    }
    .mainProductContainer .productContainer .product .imgContainer .width62{
        height: 200px;
        width: 100%;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 13px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 4px;
    }
    .clothSort{
        padding-left: 200px;
        margin-top: 30px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 2px 10px;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 24px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 2px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}
@media(max-width:768px){
    .otherBanner{
        margin-top: 52px;
        height: 300px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 30px;
        letter-spacing: 6px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 18px;
        letter-spacing: -1px;
    }
    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .mainProductContainer .mainContainer .mainTitle h2{
        text-align: center;
    }
    .mainProductContainer .mainContainer .mainTitle p{
        text-align: center;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 5px;
        font-size: 12px;
        right: 10px;
        top: 70px;
        border: 3px dashed #fff;
        padding: 4px;
    }
    .mainProductContainer{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 3px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 22px;
        padding: 0px 10px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 40px;
        width: 100%;
    }
    .mainProductContainer .mainContainer .slideFixed{
        padding-left: 20px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 10px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 2px;
        font-size: 14px;
        padding: 10px;
    }
    .mainProductContainer .productContainer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;
    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer{
        padding-bottom: 130px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        width: 30%;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 10px;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 13px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 4px;
    }
    .clothSort{
        padding-left: 160px;
        margin-top: 20px;
        font-size: 12px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 2px 10px;
    }
    .clothBr768Hidden{
        display: none;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 20px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 1.5px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}
@media(max-width:576px){
    .otherBanner{
        margin-top: 43px;
        height: 240px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 26px;
        letter-spacing: 4px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 14px;
        letter-spacing: -1px;
    }
    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 30px;
        width: 100%;
    }
    .mainProductContainer .mainContainer .mainTitle h2{
        text-align: center;
        font-size: 18px;
    }
    .mainProductContainer .mainContainer .mainTitle p{
        text-align: center;
        font-size: 14px;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 4px;
        font-size: 10px;
        right: 10px;
        top: 60px;
        border: 2px dashed #fff;
        padding: 3px;
    }
    .mainProductContainer{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 2px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 18px;
        padding: 0px 10px;
    }
    .mainProductContainer .mainContainer .slideFixed{
        padding-left: 10px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 8px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 2px;
        font-size: 14px;
        padding: 8px;
    }
    .mainProductContainer .productContainer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;
    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer{
        padding-bottom: 130px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        width: 45%;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 10px;
    }
    .mainProductContainer .productContainer .product .imgContainer .width62{
        height: 200px;
        width: 100%;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 12px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 4px;
    }
    .clothSort{
        padding-left: 140px;
        margin-top: 12px;
        font-size: 10px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 2px 10px;
    }
    .clothBr768Hidden{
        display: none;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 18px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}
@media(max-width:430px){
    .otherBanner{
        margin-top: 38px;
        height: 160px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 12px;
        letter-spacing: -1px;
    }
    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 20px;
        width: 100%;
    }
    .mainProductContainer .mainContainer .mainTitle h2{
        text-align: center;
        font-size: 16px;
    }
    .mainProductContainer .mainContainer .mainTitle p{
        text-align: center;
        font-size: 12px;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 4px;
        font-size: 8px;
        right: 10px;
        top: 50px;
        border: 1.5px dashed #fff;
        padding: 2px;
    }
    .mainProductContainer{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 2px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 12px;
        padding: 0px 6px;
    }
    .mainProductContainer .mainContainer .slideFixed{
        padding-left: 0px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 8px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 2px;
        font-size: 12px;
        padding: 5px;
    }
    .mainProductContainer .productContainer{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;
    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
        font-size: 12px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer{
        padding-top: 0px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 60px;
        width: 70%;
        border: 1px solid rgb(182, 182, 182);
    }
    .mainProductContainer .productContainer .product430Hidden{
        display: none;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 50px;
    }
    .mainProductContainer .productContainer .product .imgContainer .width62{
        width: 100%;
        height: 250px;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
        border-top: 1px solid rgb(182, 182, 182);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 10px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 3px;
    }
    .clothSort{
        padding-left: 140px;
        margin-top: 10px;
        font-size: 9px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 2px 10px;
    }
    .clothBr768Hidden{
        display: none;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 16px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 0.6px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
        padding-top: 0;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}
@media(max-width:390px){
    .otherBanner{
        margin-top: 36px;
        height: 160px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 12px;
        letter-spacing: -1px;
    }
    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 16px;
        width: 100%;
    }
    .mainProductContainer .mainContainer .mainTitle h2{
        text-align: center;
        font-size: 14px;
    }
    .mainProductContainer .mainContainer .mainTitle p{
        text-align: center;
        font-size: 10px;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 3px;
        font-size: 8px;
        right: 10px;
        top: 40px;
        border: 1.5px dashed #fff;
        padding: 2px;
    }
    .mainProductContainer{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 2px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 12px;
        padding: 0px 6px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 7px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 2px;
        font-size: 11px;
        padding: 4px;
    }
    .mainProductContainer .productContainer{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;
    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
        font-size: 10px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-top: 60px;
        width: 70%;
    }
    .mainProductContainer .productContainer .product430Hidden{
        display: none;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 50px;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 10px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 3px;
    }
    .clothSort{
        padding-left: 90px;
        margin-top: 10px;
        font-size: 9px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 2px 10px;
    }
    .clothBr768Hidden{
        display: none;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 16px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 0.6px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
        padding-top: 0;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}
@media(max-width:375px){
    .otherBanner{
        margin-top: 29px;
        height: 120px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 9px;
        letter-spacing: 0px;
    }
    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 12px;
        width: 100%;
    }
    .mainProductContainer .mainContainer .mainTitle h2{
        text-align: center;
        font-size: 12px;
    }
    .mainProductContainer .mainContainer .mainTitle p{
        text-align: center;
        font-size: 8px;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 7px;
        right: 10px;
        top: 30px;
        border: 1.5px dashed #fff;
        padding: 1.5px;
    }
    .mainProductContainer{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 1.5px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 10px;
        padding: 0px 4px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 6px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 1px;
        font-size: 10px;
        padding: 3px;
    }
    .mainProductContainer .productContainer{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;
    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-top: 60px;
        width: 70%;
    }
    .mainProductContainer .productContainer .product430Hidden{
        display: none;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 50px;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 9px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 3px;
    }
    .clothSort{
        padding-left: 120px;
        margin-top: 10px;
        font-size: 9px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 2px 10px;
    }
    .clothBr768Hidden{
        display: none;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 16px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 0.6px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
        padding-top: 0;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}
@media(max-width:320px){
    .otherBanner{
        margin-top: 24px;
        height: 100px;
    }
    .otherBannerContainer .otherBannerTitle h1{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .otherBannerContainer .otherBannerTitle p{
        font-size: 7px;
        letter-spacing: 0px;
    }
    .anton-regular{
        font-weight: 800;
        letter-spacing: 0px;
    }
    .mainProductContainer .mainContainer{
        margin-top: 8px;
        width: 100%;
    }
    .mainProductContainer .mainContainer .mainTitle h2{
        text-align: center;
        font-size: 12px;
    }
    .mainProductContainer .mainContainer .mainTitle p{
        text-align: center;
        font-size: 8px;
    }
    .rightnowText{
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 6px;
        right: 10px;
        top: 26px;
        border: 1px dashed #fff;
        padding: 1.5px;
    }
    .mainProductContainer{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainProductContainer button,.otherBannerContainer .clothTopBtn{
        bottom: 10px;
        right: 10px;
        border: 1px solid rgb(182, 182, 182);
        padding: 0;
    }
    .mainProductContainer button a,.otherBannerContainer .clothTopBtn a{
        font-size: 10px;
        padding: 0px 4px;
    }
    .mainProductContainer .mainContainer ul li i{
        font-size: 6px;
    }
    .mainProductContainer .mainContainer ul li a{
        letter-spacing: 1px;
        font-size: 9px;
        padding: 2px;
    }
    .mainProductContainer .productContainer{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .mainProductContainer .bigProductImg img{
        width: 90%;
    }
    .mainProductContainer .bigProductLowerbody60Img img{
        width: 60%;
    }
    .mainProductContainer .bigProductLowerbodyImg img{
        width: 45%;
    }
    .clothSortImgContainer{
        padding-top: 30px;
    }
    .clothSortImgContainer img{
        width: 100%;
    }
    .mainProductContainer .bigProductImg p,.mainProductContainer .bigProductLowerbodyImg p,.mainProductContainer .bigProductLowerbody60Img p,.clothSortImgContainer p{
        width: 50%;
        margin-top: 30px;
        letter-spacing: 3px;
        font-size: 8px;
    }
    .clothSortImgContainer p{
        font-size: 22px;
    }
    .mainProductContainer .productContainer .product{
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 14px;
        padding-top: 60px;
        width: 70%;
    }
    .mainProductContainer .productContainer .product430Hidden{
        display: none;
    }
    .mainProductContainer .productContainer .product .imgContainer{
        height: 200px;
    }
    .mainProductContainer .productContainer .product .imgContainer img{
        width: 100%;
        margin-bottom: 50px;
    }
    .mainProductContainer .productContainer .product .aText{
        padding: 0 14px;
    }
    .mainProductContainer .productContainer .product .aText a{
        font-size: 9px;
    }
    .clothUl{
        margin: 520px 0px 0 0;
    }
    .clothUl li{
        padding: 8px 0px;
    }
    .clothUl li a{
        padding: 8px 56px;
        letter-spacing: 3px;
    }
    .clothSort{
        padding-left: 100px;
        margin-top: 10px;
        font-size:7px;
    }
    .clothSort li{
        margin-left: -1px;
        padding: 2px 0px;
        border: 1px solid rgb(2, 121, 202);
    }
    .clothSort li a{
        padding: 0px 8px;
    }
    .clothBr768Hidden{
        display: none;
    }
    .rightNowClothTitle p{
        padding-left: 20px;
        font-size: 14px;
        font-weight: 900;
    }
    .rightNowClothTitle hr{
        border: 0.6px solid rgb(2, 121, 202);
    }
    .clothSortImgContainer{
        margin-bottom: 30px;
        padding-top: 0;
    }
    .clothSortImg50{
        padding: 10px;
    }
    .clothSortImg50:hover{
        transform: scale(1.05);
    }
    .clothSortImg50 img{
        width: 100%;
    }
}